configuration{
    modi: "drun";
    lines: 10;
    font: "mononoki Nerd Font 14";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "  Apps ";
    display-run: "  Run ";
    display-window: " 﩯 Window ";
    display-Network: " 󰤨  Network ";
    sidebar-mode: true;
    dpi: 100;
}


window {
    height: 380;
    width: 500;
    border: 3px;
}
@theme "./input-emph-nobar.rasi"
